# =========================
# Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IntelliJ / VSCode
# =========================
.idea/
*.iml
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store

# =========================
# Environment files
# =========================
.env
.env.*

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Build artifacts
# =========================
*.jar
*.war
*.class

# =========================
# Testcontainers
# =========================
testcontainers.properties